:root {
    /* colors */
    --hue: 180;
    --saturation: 3%;

    /* light mode */
    --primary-color:    hsl(var(--hue), var(--saturation), 10%);
    --secondary-color:  hsl(var(--hue), var(--saturation), 50%);
    --background-color: hsl(var(--hue), var(--saturation), 96%);

    /* spacing */
    --spacing-small:   8px;
    --spacing-medium: 12px;
    --spacing-large:  64px;

    /* typograhy */
    --font-family: "Inter Variable";
    --font-weight: 370;
    --line-height: 120%;

    --font-size-desktop:       18px;
    --font-size-desktop-large: 32px;

    --font-size-tablet:        16px;
    --font-size-tablet-large:  32px;

    --font-size-mobile:        18px;
    --font-size-mobile-large:  24px;

    --letter-spacing:  0.2px;

    /* overall widths */
    --width-desktop: 80%;
    --width-tablet:  80%;
    --width-mobile:  95%;

    /* transition */
    --transition: 0.15s all cubic-bezier(0, .5, .5, 1);
}

/* @font-face and @keyframes */
@font-face {
    font-family: "Inter Variable";
    src: url("./fonts/InterVariable.ttf");
}


/* Width of the site */
section {
    width: var(--width-desktop);
    padding-top:    var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
    transition: var(--transition);
}
footer {
    padding-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

/* Tags */
* {
    box-sizing: border-box;
}
html {
    background: var(--background-color);
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    max-width: 1500px;
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Typography */
h1, p, ul, li, a {
    font-family: var(--font-family);
    font-size: var(--font-size-desktop);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
}
h1, p {
    color: var(--primary-color);
    letter-spacing: var(--letter-spacing);
}

/* Links */
a {
    color: var(--secondary-color);
    text-decoration: none;
}
a:hover {
    color: var(--primary-color);
}

/* Grids */
.one-col-grid, .two-col-grid, .three-col-grid, .four-col-grid, .six-col-grid {
    display: grid;
    grid-column-gap: var(--spacing-medium);
    grid-row-gap:    var(--spacing-medium);
    grid-template-rows: repeat(1, 1fr);
}
.one-col-grid   {grid-template-columns: repeat(1, 1fr);}
.two-col-grid   {grid-template-columns: repeat(2, 1fr);}
.three-col-grid {grid-template-columns: repeat(3, 1fr);}
.four-col-grid  {grid-template-columns: repeat(4, 1fr);}
.six-col-grid   {grid-template-columns: repeat(6, 1fr);}
.empty-cell {
    display: block;
    background: transparent;
    color: transparent;
    user-select: none;
}
.two-wide {
    grid-column: span 2;
}

/* Navigation at the top of the index and project page */
nav {
    display: flex;
    justify-content: space-around;
    background: var(--background-color);
    position: sticky;
    top: 0px;
    width: 100%;
    height: var(--spacing-large);
    z-index: 100;
}

/* Home page grid project cards */
.project-card {}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
}

/* Tablet styles */
@media screen and (min-width: 690px) and (max-width: 910px) {

}

/* Mobile styles */
@media screen and (max-width: 679px) {
    html, body {
        max-width: 100%;
    }
}