@font-face {
    font-family: "nb-akademie-light";
    src: url("nb-akademie-light.otf");
}

:root {
    --text-size: 18px;
    --white: white;
    --black: black;
}

html {
    background-color: var(--white);
    color: var(--black);
    font-size: var(--text-size);
}

p, a { 
    font-family: "nb-akademie-light";
}

.slide {
    height: 100svh;
    width: 100svw;
}