:root {
    /* colors */
    --hue: 180;
    --saturation: 3%;
    --primary-color:    hsl(var(--hue), var(--saturation), 68%);
    --secondary-color:  hsl(var(--hue), var(--saturation), 33%);
    --background-color: hsl(var(--hue), var(--saturation),  3%);
    --shadow-color:     rgba( 0,  0,  0, 0.4);

    /* spacing */
    --spacing-small:   4px;
    --spacing-medium: 16px;
    --spacing-large:  56px;

    /* typograhy */
    --regular-text: "Mondwest";
    --bold-text: "Mondwest Bold";

    --text-size-regular-desktop: 20px;
    --text-size-large-desktop:   40px;

    --text-size-regular-tablet:  15px;
    --text-size-large-tablet:    30px;

    --text-size-regular-mobile:  15px;
    --text-size-large-mobile:    22px;

    --line-height:               166%;
    --letter-spacing-headline:  0.2px;
    --letter-spacing-text:        1px;

    /* overall widths */
    --width-desktop: 70%;
    --width-tablet: 80%;
    --width-mobile: 90%;

    /* transition */
    --transition: 0.15s all cubic-bezier(0, .5, .5, 1);
}

@font-face {
    font-family: "Mondwest";
    src: url("./fonts/PPMondwest-Regular.ttf");
}
@font-face {
    font-family: "Mondwest Bold";
    src: url("./fonts/PPMondwest-Bold.ttf");
}

/* Width of the site */

section {
    width: var(--width-desktop);
    padding-top: var(--spacing-large);
    transition: var(--transition);
}
footer {
    padding-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

/* Tags */

* {
    box-sizing: border-box;
}
html {
    background: var(--background-color);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--spacing-small);
}

/* Typography */
h1, p, ul, li, a {
    font-family: var(--regular-text);
    font-size: var(--text-size-regular-desktop);
    line-height: var(--line-height);
}
h1, p {
    color: var(--primary-color);
}
h1 {
    letter-spacing: var(--letter-spacing-headline);
}
p {
    letter-spacing: var(--letter-spacing-text);
}
.headline-text {
    font-size: var(--text-size-large-desktop);
    font-family: var(--bold-text);
    line-height: 145%;
    margin-top:    32px;
    margin-bottom: 32px;
    color: var(--secondary-color);
}
.headline-text > span {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: colorChange;
    animation-fill-mode: forwards;
}
.headline-text > a {
    font-family: var(--bold-text);
    font-size: var(--text-size-large-desktop);
}
@keyframes colorChange {
    from {color: var(--secondary-color);}
    to   {color: var(--primary-color);}
}

/* Links */

a {
    color: var(--secondary-color);
    text-decoration: none;
}
a:hover {
    color: var(--primary-color);
}

/* Grids */
.one-col-grid, .two-col-grid, .three-col-grid, .four-col-grid, .six-col-grid {
    display: grid;
    grid-column-gap: var(--spacing-small);
    grid-row-gap:    var(--spacing-small);
    grid-template-rows: repeat(1, 1fr);
}
.one-col-grid   {grid-template-columns: repeat(1, 1fr);}
.two-col-grid   {grid-template-columns: repeat(2, 1fr);}
.three-col-grid {grid-template-columns: repeat(3, 1fr);}
.four-col-grid  {grid-template-columns: repeat(4, 1fr);}
.six-col-grid   {grid-template-columns: repeat(6, 1fr);}
.empty-cell {
    display: block;
    background: transparent;
    color: transparent;
    user-select: none;
}
.two-wide {
    grid-column: span 2;
}

/* Call to action */

.call-to-action-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
}
.call-to-action-block.for-project {
    justify-content: center;
}
.call-to-action {
    background: var(--secondary-color);
    padding: 16px 26px 15px 25px;
    border-radius: 1000px;
}
.call-to-action:hover {
    background: var(--primary-color);
    transform: scale3d(1.01, 1.01, 1.01);
}
.call-to-action > p {
    line-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--background-color);
    text-align: center;
}

/* Navigation at the top of the index and project page */

nav {
    display: flex;
    justify-content: space-around;
    background: var(--background-color);
    position: sticky;
    top: 0px;
    width: 100%;
    height: var(--spacing-large);
    z-index: 100;
    box-shadow: 0px 0px 16px hsla(var(--hue), var(--saturation), 5%, 0.6);
}
.inner-section {
    width: var(--width-desktop);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner-section > div {
    height: 100%;
    display: flex;
    align-items: center;
}
.inner-section > div > a {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid transparent;
    transition: var(--transition);
}
.current-page {
    border-bottom: 1px solid var(--primary-color) !important;
    color: var(--primary-color);
}
.inner-section > div > a:hover {
    border-bottom: 1px solid var(--primary-color);
}
.menu > a {
    margin-left: var(--spacing-medium);
}

/* Home page grid */

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    transition: var(--transition);
    height: 400px;
}
.project-card:hover {
    transition: var(--transition);
}
.project-card > img {
    transition: var(--transition);
    transform: scale(1);
}
.project-card:hover > img {
    transition: var(--transition);
}
.overlay-text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: var(--transition);
}
.overlay-text-container:hover {
    opacity: 1;
    transition: var(--transition);
}
.overlay-text-container > p {
    color: var(--primary-color);
    font-size: var(--text-size-regular-desktop);
    text-align: center;
    text-shadow: 0px 1px 2px var(--shadow-color);
    margin-left: 5px;
    margin-bottom: 0px;
    text-wrap: balance;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
}

/* Simple hero section */
.hero > h1 > span {
    color: var(--secondary-color);
}

@media screen and (min-width: 440px) and (max-width: 799px) {
    section, footer {
        width: var(--width-tablet);
    }
    .inner-section {
        width: var(--width-tablet);
    }
    .headline-text {
        font-size: var(--text-size-large-tablet);
    }
    .three-col-grid, .four-col-grid, .six-col-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .two-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .empty-cell {
        display: none;
    }
}

/* Mobile styles */
@media screen and (max-width: 439px) {
    section, footer {
        width: var(--width-mobile);
    }
    .inner-section {
        width: var(--width-mobile);
    }
    .headline-text {
        font-size: var(--text-size-large-mobile);
    }
    .three-col-grid, .four-col-grid, .six-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .two-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .empty-cell {
        display: none;
    }
    footer {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .call-to-action {
        border: 1px solid var(--secondary-color);
        padding: auto;
    }
    .call-to-action-block {
        padding-top: 16px;
        flex-direction: column;
    }
    .project-card {
        height: 240px;
    }
    .project-title {
        display: none;
    }
}