:root {
    /* dark mode */
    --primary-color:    #DBDBDB;
    --secondary-color: #ABABAB;
    --accent-color: #CBC3A7;
    --background-color: #161616;
    --available-color: #00FF85;

    /* typograhy */
    --monospace-font: "Geist Mono";
    --monospace-weight: 120;
    --regular-font: "Manrope";
    --regular-weight: 100;

    /* spacings */
    --spacing-desktop: 40px;

    /* overall widths */
    --width-desktop: 70%;
    --padding-w-desktop: 15%;
    --width-tablet:  80%;
    --width-mobile:  95%;

    /* transition */
    --transition: 0.075s all cubic-bezier(0, .5, .5, 1);

}

/* @font-face and @keyframes */
@font-face {
    font-family: "Geist Mono";
    src: url("./fonts/GeistMonoVF.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-VariableFont_wght.ttf");
}

/* General */
* {
    box-sizing: border-box;
}
html {
    background: var(--background-color);
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 100%;
    min-height: 100svh;
}

/* Typography */
h1 {
    font-family: var(--regular-font);
    font-size: 26px;
    color: var(--primary-color);
    font-weight: 550;
}
.monospace {
    font-family: var(--monospace-font);
    color: var(--primary-color);
    letter-spacing: 0.1ch;
    font-size: 14px;
    font-weight: var(--monospace-weight);
    line-height: 120%;
    text-transform: uppercase;
}
h1.monospace {
    color: var(--accent-color);
    margin-bottom: 14px;
}
li > a {
    color: var(--primary-color);
}
.available-for-work {
    color: var(--available-color);
}

/* Width of the site */
section {
    width: var(--width-desktop);
    padding-top:    var(--spacing-desktop);
    padding-bottom: var(--spacing-desktop);
    transition: var(--transition);
}

/* Footer */
footer {
    background: #262626;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
    padding-left:  var(--padding-w-desktop);
    padding-right: var(--padding-w-desktop);
    padding-top: 40px;
    padding-bottom: 80px;
    /* make the footer stick to the bottom */
    margin-top: auto;
}
footer > div > h1 {
    margin: 0px;
    text-transform: capitalize;
}
footer > div > h1 > a {
    color: var(--accent-color);
}
footer > ul {
    margin-top: 0px;
}
footer > ul > li > a {
    color: var(--secondary-color);
}
footer > ul > li > a:hover {
    color: var(--primary-color);
}

/* Tags */
img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
ul.monospace {
    padding-left: 0px;
    color: var(--accent-color);
}
li {
    list-style-type: none;
    color: var(--primary-color);
}
li:first-child {
    margin-top: 14px;
}

/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);
}
a:hover {
    color: white;
}

/* Call to action button */
button.cta {
    color: var(--accent-color);
    font-family: var(--monospace-font);
    font-weight: var(--monospace-weight);
    text-transform: uppercase;
    background-color: rgba(203, 195, 167, 0.05);
    border-radius: 0px;
    border: none;
    outline: none;
    padding: 8px 80px;
    line-height: 100%;
    transition: var(--transition);
}
button.cta:hover {
    background: var(--accent-color);
    color: var(--background-color);
}

/* Grids */
.one-col-grid, .two-col-grid, .three-col-grid, .four-col-grid, .six-col-grid {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap:    16px;
    grid-template-rows: repeat(1, 1fr);
}
.one-col-grid   {grid-template-columns: repeat(1, 1fr);}
.two-col-grid   {grid-template-columns: repeat(2, 1fr);}
.three-col-grid {grid-template-columns: repeat(3, 1fr);}
.four-col-grid  {grid-template-columns: repeat(4, 1fr);}
.six-col-grid   {grid-template-columns: repeat(6, 1fr);}
.empty-cell {
    display: block;
    background: transparent;
    color: transparent;
    user-select: none;
}
.two-wide {
    grid-column: span 2;
}

/* Navigation at the top of the index and project page */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    padding-left: var(--padding-w-desktop);
    padding-right: var(--padding-w-desktop);
    background: var(--background-color);
    font-family: var(--monospace-font);
    color: var(--primary-color);
    font-weight: var(--monospace-weight);
    text-transform: uppercase;
}
nav > button {
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
}

/* Home page grid project cards */
.project > a > h1 {
    margin-top: 8px;
    transition: var(--transition);
}
.project > a > img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.project:hover > a > h1 {
    color: var(--accent-color);
}

/* Tablet styles */
@media screen and (min-width: 690px) and (max-width: 910px) {

}

/* Mobile styles */
@media screen and (max-width: 679px) {
    html, body {
        max-width: 100%;
    }
}