<!-- src/partials/head.html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"             content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Shinji Pons | Product Designer of 3D Tools & Beyond</title>
    <meta name="description"          content="Shinji is an experienced 3D software designer based in Toulouse, France. Making 3D tools, workflows and 3D models amongst many other things.">
    <link rel="stylesheet"            href="dist/css/styles.css">
    <meta property="og:url"           content="https://shinjipons.com">
    <meta property="og:type"          content="website">
    <meta property="og:title"         content="Shinji Pons | Product Designer of 3D Tools & Beyond">
    <meta property="og:description"   content="Shinji is an experienced 3D software designer based in Toulouse, France. Making 3D tools, workflows and 3D models amongst many other things.">
    <meta property="og:image"         content="https://www.shinjipons.com/images/opengraph.jpg">
    <meta name="twitter:card"         content="summary_large_image">
    <meta property="twitter:domain"   content="shinjipons.com">
    <meta property="twitter:url"      content="https://shinjipons.com">
    <meta name="twitter:title"        content="Shinji Pons | Product Designer of 3D Tools & Beyond">
    <meta name="twitter:description"  content="Shinji is an experienced 3D software designer based in Toulouse, France. Making 3D tools, workflows and 3D models amongst many other things.">
    <meta name="twitter:image"        content="https://www.shinjipons.com/images/opengraph.jpg">
    <link rel="icon" type="image/png" sizes="32x32"   href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/icons/favicon-16x16.png">
    <link rel="apple-touch-icon"      sizes="180x180" href="/icons/favicon-ios.png">
</head>