<ul class="monospace padding-between-items">About
    <li>A product designer from France.</li>
    <li>I specialize in the design and user experience of complex applications for creative professionals.</li>
</ul>
<ul class="monospace">Status
    <li class="available-for-work">Available for work</li>
</ul>
<ul class="monospace">Online
    <div class="social-links-block">
        <a href="https://linkedin.com/in/shinjipons/" target="_blank"><button class="social-button">LinkedIn</button></a>
        <a href="https://instagram.com/shinji.pons"   target="_blank"><button class="social-button">Instagram</button></a>
        <a href="https://bento.me/shinjipons"         target="_blank"><button class="social-button">Bento</button></a>
    </div>
</ul>
<ul class="monospace">Location
    <li>Toulouse, France</li>
</ul>
<ul class="monospace">Previously at
    <li>Ragdoll Dynamics</li>
    <li>Electronic Arts</li>
    <li>The LEGO Group</li>
    <li>Autodesk</li>
    <li>Microsoft</li>
    <li>Thomson Reuters</li>
</ul>