@use "sass:color";

// VARIABLES

// colors for light mode
$primary-color:       rgb(  0,   0,   0);
$secondary-color:     rgb(138, 138, 138);
$tertiary-color:      rgb( 79,  79,  79);
$link-color:          rgb(  0,  98, 255);
$link-background-color: transparentize($link-color, 0.9);
$available-color:     rgb(  0, 199,  23);
$background-color:    rgb(255, 255, 255);
$button-background-color:  transparentize($tertiary-color, 0.9);
$blog-media-background-color: $button-background-color;

// overall widths
$width-full:       100%; // leave it at 100%
$padding-w-desktop: 15%;
$padding-w-tablet:   6%;
$padding-w-mobile:   3%;

// font Outfit
$monospace-font: "Geist Mono Medium", monospace;
$regular-font:   "Outfit", sans-serif;

// Font weight new
$p-weight:             360;
$bold-weight:          600;
$h1-weight:            400;
$headline-weight:      220;

$p-line-height: 160%; // seems a bit high but ok...

// Font sizes
$base-font-size: 10px;

    // Desktop font sizes
    $h1-desktop: 2.0rem;
    $p-desktop:  1.8rem;

    // Laptop font sizes
    $headline-laptop:  3.6rem;
    $h1-laptop:        1.8rem;
    $p-laptop:         1.6rem;
    $monospace-laptop: 1.0rem;

// control general spacing of things
$spacing-xxs: 0.4rem;
$spacing-xs:  0.8rem;
$spacing-s:   2.4rem;
$spacing-m:   4.0rem;
$spacing-l:   8.0rem;
$spacing-xl: 16.0rem;

// control the spacing between the two columns, and other secondary things
$grid-gap: 0.8rem;
$grid-gap-half: ($grid-gap * 0.5);

// control the width of the two columns
$left-column-width-desktop:  100%;
$right-column-width-desktop: 100%;

// control the border radii of the button and the nav items
$nav-border-padding:      0.8rem;
$image-border-radius:     0.4rem;
$button-border-radius:    0.4rem;
$button-padding:          $grid-gap * 1.4 $grid-gap * 2;
$blog-media-outer-radius: 0.8rem;
$nav-border-radius:       $image-border-radius;
$nav-border-radius-inner: $nav-border-radius - $nav-border-padding;

// transition
$transition: 150ms all ease-in-out;

// mixins for media queries
$breakpoint-tablet:  1100px;
$breakpoint-laptop:  1800px;
$breakpoint-desktop: 2300px;

/* BLOG RELATED ITEMS */
$blog-article-content-width-desktop:  60%;
$blog-article-content-width-laptop:   60%;
$blog-article-content-width-tablet:   60%;
$blog-article-content-width-mobile:  100%;

@mixin desktop-styles() {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin laptop-styles() {
    @media screen and (min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin tablet-styles() {
    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
        @content;
    }
}

@mixin mobile-styles() {
    @media screen and (max-width: $breakpoint-tablet) {
        @content;
    }
}

// mixin for blog
@mixin blog-media-border() {
    border: 2px solid $secondary-color;
    border-radius: $image-border-radius;
}

/* @font-face and @keyframes */
@font-face {
    font-family: "Geist Mono Medium";
    src: url("../../fonts/GeistMono-Medium.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/Outfit-VariableFont_wght.ttf");
}

/* General */
* {
    box-sizing: border-box;
}
html {
    background: $background-color;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    font-size: $base-font-size;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    width: $width-full;
    min-height: 100svh;
    overflow-y: auto;
    max-width: 1500px;
}
h1, h2, h3, h4, p {
    -webkit-font-smoothing: antialiased;
}
p, li {
    line-height: $p-line-height;
}
video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $image-border-radius;
}

/* everywhere */
main {
    display: flex;
    width: $width-full;
    padding-top: $spacing-l;
    padding-bottom: $spacing-l;
    grid-gap: $grid-gap * 2;
    flex-direction: column;
    transition: $transition;
    overflow-y: hidden;
    @include tablet-styles() {
        padding: $spacing-l $padding-w-tablet;
    }
    @include mobile-styles() {
        flex-direction: column;
        padding: $spacing-l $padding-w-mobile;
        gap: $grid-gap;
    }
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: $image-border-radius;
}
a {
    color: $primary-color;
    text-decoration: none;
    transition: $transition;
    &:hover {
        color: $link-color;
    }
}
/* navigation */
nav {
    display: flex;
    position: fixed;
    width: $width-full - $padding-w-desktop * 2;
    max-width: 1500px;
    justify-content: space-between;
    background: $background-color;
    padding-top:    $nav-border-padding;
    padding-bottom: $nav-border-padding;
    z-index: 99;
    @include mobile-styles() {
        width: 100% - $padding-w-mobile * 2;
        position: fixed;
    }
    @include laptop-styles() {
        width: 100% - $padding-w-tablet * 2;
        position: fixed;
    }
    div {
        display: flex;
        grid-gap: $nav-border-padding;
        a {
            line-height: 0rem;
            background: transparent;
            outline: none;
            border: none;
            padding: $button-padding;
            transition: $transition;
            cursor: pointer;
            border-radius: $nav-border-radius-inner;
            color: $secondary-color !important;
            &:hover {
                color: $link-color !important;
            }
        }
    }
}

/* Left and right columns */
.left-column {
    top: $spacing-l;
    width: $left-column-width-desktop;
    flex-direction: column;
    padding-right: $grid-gap-half;
    display: grid;
    gap: $grid-gap;
    @include desktop-styles() {
        grid-template-columns: repeat(1, 1fr);
    }
    @include laptop-styles() {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    @include mobile-styles() {
        position: relative;
        width: 100%;
        top: 0rem;
        padding-right: 0rem;
        margin-bottom: $grid-gap;
        grid-template-columns: repeat(1, 1fr);
    }
    &.project-page {
        grid-template-columns: repeat(3, 1fr);
        @include laptop-styles() {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mobile-styles() {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    ul {
        padding-left: 0px; // typographic adjustment
        @include mobile-styles() {
            padding-left: 0px;
        }
        &.padding-between-items {
            * {
                padding-bottom: $grid-gap;
            }
        }
    }
}
.right-column {
    width: $right-column-width-desktop;
    display: flex;
    flex-direction: column;
    gap: $grid-gap;
    @include laptop-styles() {
        margin-left: 0rem;
    }
    @include mobile-styles() {
        padding-left: 0rem;
        margin-left:  0rem;
    }
    // &:has(.blog-article-content) {
    //     display: grid;
    //     grid-gap: $grid-gap;
    //     @include desktop-styles() {
    //         grid-template-columns: repeat(8, 1fr);
    //     }
    // }
}


.button-call-to-action {
    background: $link-color;
    color: $background-color !important;
    border-radius: $button-border-radius;
    &:hover {
        color: $link-color !important;
        background: transparentize($link-color, 0.8);
    }
}

ul {
    margin-top:    0rem;
    margin-bottom: 0rem;
    font-size: $p-laptop;
    font-weight: $p-weight;
    &.monospace {
        padding-left: 0rem;
        color: $secondary-color;
    }
}
li {
    list-style-type: none;
    color: $primary-color;
    font-size: $p-laptop;
    font-weight: $p-weight;
    &:first-child {
        margin-top: 1.4rem;
    }
    @include desktop-styles() {
        font-size: $p-desktop;
    }
}
.social-links-block {
    display: flex;
    grid-gap: $nav-border-padding;
    margin-top: $grid-gap;
    flex-wrap: wrap;
    width: 100%;
}
.button {
    outline: none;
    font-family: $monospace-font;
    font-size: $monospace-laptop;
    text-transform: uppercase;
    padding: $button-padding;
    border-radius: $button-border-radius;
    border: 0rem;
    transition: $transition;
    background: $button-background-color;
    color: $primary-color;
    cursor: pointer;
    &:hover {
        background: $link-background-color;
        color: $link-color;
    }
    &.linkedin:hover {
        background: #2268C0;
        color: #FFFFFF;
    }
    &.instagram:hover {
        background: linear-gradient(45deg, rgba(255,207,0,1) 0%, rgba(233,37,73,1) 35%, rgba(242,0,152,1) 50%, rgba(195,16,197,1) 65%, rgba(111,65,244,1) 100%);
        color: #FFFFFF;
    }
    &.twitter:hover {
        background: #000000;
        color: #FFFFFF;
    }
    &.layers:hover {
        background: #27272A;
        color: #E4E4E7;
    }
    &.github:hover {
        background: linear-gradient(0deg, rgba(106,68,197,1) 0%, rgba(116,67,195,1) 100%);
        color: #FFFFFF;
    }
    &.readcv:hover {
        background: #333333;
        color: #eeeeee;
    }
    &.caldotcom:hover {
        background: #1d1d20;
        color: #ffffff;
    }
    &.contra:hover {
        background: #6A57E3;
        color: white;
    }
}

/* typography */
h1, p, ul {
    font-family: $regular-font;
    color: $primary-color;
}
p {
    font-size: $p-laptop;
}
li {
    a {
        color: $primary-color;
    }
}
h1 {
    font-size: $h1-laptop;
    font-weight: normal;
}
.monospace {
    font-family: $monospace-font;
    color: $primary-color;
    letter-spacing: 0.05ch;
    font-size: $monospace-laptop;
    line-height: 120%;
    text-transform: uppercase;
}

/* AVAILABLE FOR WORK */
.available-for-work {
    color: $link-color;
    transition: $transition;
    overflow-wrap: break-word;
    hyphens: none;
}

/* PROJECT INDEX */
.headline {
    h1 {
        font-size: $headline-laptop;
        font-weight: $headline-weight;
        text-transform: capitalize;
        padding-left: 0rem; // typographic adjustment
        @include laptop-styles() {
            font-size: $h1-laptop * 1.4;
        }
        @include mobile-styles() {
            font-size: $h1-laptop * 1.2;
            padding: 0rem;
            margin:  0rem;
        }
        span {
            color: $secondary-color;
            font-family: $regular-font;
            margin-left: 0rem;
            &:last-of-type {
                margin-left: 0.25rem;
                color: $available-color;
            }
        }
    }
}

.project-grid {
    display: grid;
    padding-top: $spacing-s;
    @include desktop-styles() {
        grid-template-columns: repeat(4, 1fr);
    }
    @include laptop-styles() {
        grid-template-columns: repeat(3, 1fr);
    }
    @include tablet-styles() {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mobile-styles() {
        grid-template-columns: repeat(1, 1fr);
    }
    .project {
        border-radius: $image-border-radius;
        transition: $transition;
        overflow: hidden;
        a {
            h1 {
                margin-top: $spacing-xxs;
                transition: $transition;
                padding-left: 0rem; // typographic adjustment
                margin-top: $spacing-xs;
                @include laptop-styles() {
                    font-size: $h1-laptop;
                }
                @include desktop-styles() {
                    font-size: $h1-desktop;
                }
            }
            img {
                display: block;
                object-fit: cover;
                transition: $transition;
                height: 40rem;
                border-radius: $image-border-radius;
                opacity: 1;
                // project thumbnail height
                @include desktop-styles() {
                    height: 28rem;
                }
                @include laptop-styles() {
                    height: 28rem;
                }
                @include tablet-styles() {
                    height: 36rem;
                }
                @include mobile-styles() {
                    height: 30rem;
                }
            }
        }
        &:hover {
            a {
                h1 {
                    color: $link-color;
                }
                img {
                    transform: scale(1);
                    opacity: 0.8;
                }
            }
        }
    }
}


footer {
    padding: $grid-gap $padding-w-desktop;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile-styles() {
        padding: $grid-gap;
    }
    @include laptop-styles() {
        padding: $grid-gap $padding-w-tablet;
    }
}

/* PROJECT PAGE RELATED STYLES */
.next-project {
    margin-top: $spacing-l;
    margin-bottom: $spacing-l * -1;
    padding-bottom: 0rem;
    @include laptop-styles() {
        margin-bottom: $spacing-l * -1;
    }
    @include mobile-styles() {
        margin-bottom: $spacing-l * -1;
    }
    a {
        h1 {
            margin-top:    0.4rem;
            margin-bottom: 0.4rem;
            &:nth-child(2) {
                color: $secondary-color;
            }
        }
        img {
            margin-top: 2.4rem;
            display: block;
            height: 20rem;
            object-fit: cover;
            transition: $transition;
            object-position: 50% 0%;
            border-radius: $image-border-radius $image-border-radius 0rem 0rem;
        }
    }
    &:hover {
        a {
            h1:nth-child(2) {
            color: $link-color;
            }
        }
    }
}

.blog-articles-list-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0rem;
    align-items: center;
    a {
        width: 100%;
    }
}

.blog-article-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:  0rem; // typographic adjustment
    padding-right: 0rem; // typographic adjustment
    border-radius: $button-border-radius;
    transition: $transition;
    h1 {
        @include mobile-styles() {
            margin: 0rem;
        }
        &:first-child {
            color: $primary-color;
            transition: $transition;
        }
        &:last-child {
            color: $secondary-color;
            transition: $transition;
        }
    }
    &:hover {
        h1:first-child {
            color: $link-color;
        }
        h1:last-child {
            color: $primary-color;
        }
    }
    @include mobile-styles() {
        padding-left:  0rem;
        padding-right: 0rem;
        flex-direction: column;
        &:hover {
            background: $background-color;
            h1 {
                &:first-child {
                    color: $link-color;
                }
                &:last-child {
                    color: $primary-color;
                }
            }
        }
    }
}

.blog-article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    @include desktop-styles() {
        grid-column: 3/7;
        grid-template-columns: repeat(8, 1fr);
        * {
            grid-column: 3/7;
        }
        picture {
            grid-column: 2/8;
            grid-template-columns: repeat(6, 1fr);
            img, .caption {
                grid-column: 2/6;
            }
        }
    }
    @include laptop-styles() {
        grid-column: 3/7;
        grid-template-columns: repeat(8, 1fr);
        * {
            grid-column: 3/7;
            background: red;
        }
        picture {
            grid-column: 2/8;
            grid-template-columns: repeat(6, 1fr);
            img, .caption {
                grid-column: 2/6;
            }
        }
    }
    @include tablet-styles() {
        // width: $blog-article-content-width-tablet;
        // width: $blog-article-content-width-tablet;
    }
    @include mobile-styles() {
        width: $blog-article-content-width-mobile;
        padding-left: 0rem;
    }
    h1 {
        font-family: $regular-font;
        font-weight: $bold-weight;
        margin-top:  $spacing-s;
        @include desktop-styles() {
            font-size: $p-desktop;
        }
        @include laptop-styles() {
            font-size: $p-laptop;
        }
        &:first-child {
            margin-top: 0rem;
            @include desktop-styles() {
                font-size: $headline-laptop; // need to add desktop variable
                font-weight: $headline-weight;
                margin-bottom: $spacing-xs;
                // margin-bottom: $spacing-xs;
            }
        }
    }
    p {
        font-weight: $p-weight;
        color: $primary-color;
        margin-top: 0rem;
        @include desktop-styles() {
            font-size: $p-desktop;
        }
        @include laptop-styles() {
            font-size: $p-laptop;
        }
        // @include tablet-styles() {
        //     font-size: $p-tablet;
        // }
        // @include mobile-styles() {
        //     font-size: $p-mobile;
        // }
    }
    * {
        a {
            color: $link-color;
            &::after {
                font-family: $monospace-font;
                margin-left: 0.3ch;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        b {
            font-family: $regular-font;
            font-weight: $bold-weight;
        }
    }
    .blog-post-date {
        color: $secondary-color;
    }
    .blog-callout-block {
        padding: $spacing-s;
        border-radius: $image-border-radius;
        border-color: #e1aa11;
        background: lighten(#e1aa11, 50%);
        margin-top:    $spacing-xs;
        margin-bottom: $spacing-s;
        @include mobile-styles() {
            padding: $spacing-s;
        }
        p {
            color: darken(#e1aa11, 20%);
            margin: 0rem;
        }
    }
    .blog-code-block {
        padding: $spacing-s;
        border-color: $primary-color;
        border-radius: $blog-media-outer-radius;
        margin-top: 0rem;
        margin-bottom: $spacing-s;
        background: $primary-color;
        p {
            color: $background-color;
            margin: 0rem;
            font-family: $monospace-font;
            font-size: $p-laptop * 0.9;
        }
    }
    picture {
        display: grid;
        background: $blog-media-background-color;
        object-fit: contain;
        overflow: hidden;
        margin-top: $spacing-xs;
        margin-bottom: $spacing-s;
        padding-top: $spacing-s;
        padding-bottom: $spacing-s;
        border-radius: $blog-media-outer-radius;
        img {
            object-fit: contain;
            height: 100%;
        }
        &:first-child {
            margin-top: 0px;
        }
        &:has(> .caption) {
            background: $blog-media-background-color;
        }
    }
    video {
        background: $blog-media-background-color;
        padding: $spacing-s;
        border-radius: $blog-media-outer-radius;
        margin-top: $spacing-xs;
    }
    ul, ol {
        margin-bottom: $spacing-s;
        margin-top: 0rem;
        font-weight: $p-weight;
        padding-left: $spacing-s;
        font-family: $regular-font;
        @include mobile-styles() {
            padding-left: $spacing-s;
        }
        li {
            list-style-type: square;
            font-weight: $p-weight;
            &:first-child {
                margin-top: 0rem;
            }
            @include desktop-styles() {
                font-size: $p-desktop;
            }
        }
    }
    .caption {
        font-size: $p-laptop;
        color: $primary-color;
        text-align: center;
        margin-top: $spacing-s;
        margin-bottom: 0rem;
    }
    .blog-paragraph-with-note {
        position: relative;
        .blog-note {
            position: absolute;
            width: 60%;
            top: $grid-gap-half * -1;
            left: 105%;
            color: red;
            font-size: 1.4rem;
            padding-left: $grid-gap;
            border-left: 0.2rem solid red;
            @include laptop-styles() {
                width: 60%;
            }
            @include mobile-styles() {
                position: relative;
                width: 100%;
                left: 0%;
                margin-top: $spacing-m;
            }
        }
    }
}

// CSS fancy animation
$timing: 140ms;
$factor: 0.66;
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY($spacing-s);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

nav, .headline, .left-column, .right-column {
    opacity: 0;
    animation: fadeInUp $timing ease-in-out;
    animation-delay: $timing * 1;
    animation-fill-mode: forwards;
}

nav           {animation-delay: $timing * $factor * 2;}
.headline     {animation-delay: $timing * $factor * 3;}
.left-column  {animation-delay: $timing * $factor * 4;}
.right-column {animation-delay: $timing * $factor * 5;}